<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if !@app.videos.empty? %>
    <h2>Videos <%= link_to '+ Add Video', new_app_video_path, class: 'btn btn-info pull-right sharp' %></h2>
    <p><strong>Drag &amp; Drop to Reorder</strong></p>
    <% else %>
    <h2>Videos <%= link_to '+ Add Your First Video', new_app_video_path, class: 'btn btn-info pull-right sharp' %></h2>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 sortable" data-app-id="<%= @app.id %>">
    <% if @videos.any? %>
           <%= render @videos %>
       <% else %>
       <h3 class="text-center">No videos found</h3>
       <% end %>
  </div>
</div>
