<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Videos <%= link_to '+ Add Video', new_app_video_path, class: 'btn btn-info pull-right' %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if @videos.any? %>
           <%= render @videos %>
       <% else %>
       <p>No videos found <%= link_to "Add Your First Video", new_app_video_path %></p>
       <% end %>
  </div>
</div>
