<li>
  <%= link_to 'About', about_path %>
</li>
<li>
  <%= link_to 'Contact', 'http://www.gramercytech.com/contact/', target: '_blank', rel:"noopener noreferrer" %>
</li>
<% if current_user %>
<li>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
</li>
<% end %>
