<div class="row">
  <div class="col-md-12">
    <%= link_to 'iPhone', '#', class: 'btn btn-primary active sharp' %>
    <%= link_to 'Android', '#', class: 'btn btn-primary sharp' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Loading Screen</h3>
    <p>Preview Here</p>
  </div>

  <div class="col-md-4">
    <h3>App Home Screen</h3>
    <p>Preview Here</p>
  </div>

  <div class="col-md-4">
    <h3>App Icon</h3>
    <p>Preview Here</p>
  </div>
</div>
