<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3>Ready to Submit Your App?</h3>

    <table class="table table-hover table-condensed checklist">
      <tr>
        <td><input type="checkbox"></td>
        <td>Add a Splash Screen</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>Add an App Icon</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>Add a Header Image</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>Choose a Background Color</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>Choose a Font Color</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>Add Videos to Your App</td>
      </tr>
    </table>

    <div class="text-center">
      <%= link_to 'Submit App', '', class:'btn btn-success sharp disabled', id:'submit' %>
      <%= link_to 'Download Files', app_path(format: :zip) %>
    </div>

  </div>
</div>
