/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

.brand {
  background-color: #1CCB8D;
}

.navbar-default .navbar-nav>li>a {
  color: #3A3A3A;
}

.navbar-default {
  border-color: #13885E;
}

.navbar-default .navbar-brand {
  color: #3A3A3A;
  font-size: 24px;
  font-weight: normal
}

/*.navbar-brand::first-letter {
  font-size: 26px;
  font-weight: normal;
}*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #3a3a3a;
  background-color: #eefaf6;
}

.panel-default {
  border-color: #ddd;
  background-color: #f1f1f1;
  cursor:move;
}

.form-select {
  width: 150px;
}

.hidden-video {
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 700;
  padding: 4px;
}

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  margin-bottom: 10px;
}

.sortable {
  display: list-item;
  list-style-type: none;
}

.color-preview {
  width: 40px;
  height: 20px;
  border: 1px solid black;
  background-color: white;
  float: left;
  margin-right: 10px;
}

.img-responsive {
  display: inline;
}

.navbar {
  margin-bottom: 0;
}

.minicolors-theme-default .minicolors-input {
  height: 27px;
  width: auto;
  display: inline-block;
  padding-left: 26px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  overflow-y: auto;
  background: #1CCB8D;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  /*background-color: #e9fcf6;*/
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 125px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  /*text-indent: 20px;*/
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #3A3A3A;
  font-size: 18px;
  padding: 15px 0 10px 0;
}

.sidebar-nav .nav-link {
  font-size: 22px;
  /*padding-left: 40px;*/
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.branding-sidebar {
  background-color: #1cb2cb;
}

.videos-sidebar {
  background-color: #cb1c5a;
}

.preview-sidebar {
  background-color: #cb8d1c;
}

.logout-sidebar {
  bottom: 0;
  position: fixed;
  width: inherit;
}

.logout-sidebar a {
  padding: 0;
  line-height: 20px;
}

.social-icons {
  padding: 0;
}

.social-icons li {
  list-style-type: none;
  display: inline-block;
}

.social-icons li a {
  padding: 0 5px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 125px;
  }

  #sidebar-wrapper {
    width: 125px;
  }

  #page-content-wrapper {
    /*padding: 20px;*/
    position: relative;
  }

}

.marvel-device {
  zoom: 0.5;
}

.marvel-device.nexus5 {
  zoom: 0.6;
}

.preview {
  height: inherit;
}

/*  LANDING PAGE STYLING   */

.welcome-nav {
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.welcome-nav a {
  font-size: 18px;
}

.welcome-nav .navbar-brand {
  font-size: 3em;
}

/*.welcome-nav .navbar-brand::first-letter {
  font-size: 1.1em;
  font-weight: normal;
}*/

.welcome-container {
    margin: 5% 10%;
    padding-left: 15px;
    padding-right: 15px;
}

.headline {
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px;
}

.welcome-buttons a {
  margin: 10px;
}

.made-by {
    font-weight: 700;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.made-by a {
  color: #3a3a3a;
}

.made-by a:hover {
  color: #3a3a3a;
  text-decoration: underline;
  cursor: pointer;
}
