<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
      <%= link_to 'Branding', dashboard_index_path %>
    </li>
    <li>
      <a href="#">Videos</a>
    </li>
    <li>
      <a href="#">Preview</a>
    </li>
  </ul>
</div>
