<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
      <a href="#">Branding</a>
    </li>
    <li>
      <a href="#">Videos</a>
    </li>
    <li>
      <a href="#">Preview</a>
    </li>
  </ul>
</div>
