<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
      <%= link_to 'Branding', app_path(@app) %>
    </li>
    <li>
      <%= link_to 'Videos', app_videos_path(@app) %>
    </li>
    <li>
      <a href="#">Preview</a>
    </li>
  </ul>
</div>
